<section id="businessPartners" class="sections sections-narrow">
  <div class="container">
    <div class="action-items pull-right">
      <div class="action-item pull-right">
        View as
        <div class="btn-group">
          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
        </div>
      </div>
      <div class="action-item pull-right">
        Sort by
        <div class="btn-group">
          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
    <h2 class="sub-header">BusinessPartners</h2>
    <div class="row">
      <div class="col-md-3" data-ng-repeat="businessPartner in businessPartners">
        <div class="thumbnail">
          <a data-ui-sref="businessPartnerDetails({id: businessPartner.id})"><img class="img-circle" data-ng-src="images/avatars/businessPartner{{businessPartner.id}}.jpg" alt="{{businessPartner.firstName + ' ' + businessPartner.lastName}}"></img></a>
          <div class="caption">
            <h3 class="caption-heading"><a href="show.html" data-ng-bind="businessPartner.firstName + ' ' +businessPartner.lastName"></a></h3>
            <p data-ng-bind="businessPartner.city"></p>
            <p data-ng-bin="businessPartner.address"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
